

.top-wrapper{
  text-align: center;
  padding-top:30px;
  background-image: url(https://www.pakutaso.com/shared/img/thumb/PAK85_kirikotosupana20141028182225_TP_V.jpg);
  background-size: cover;
  height: 700px;
  color: white;


}

.top-wrapper h1{
  font-size:50px;
  font-weight: lighter;
}

.top-wrapper h2{
  font-weight: lighter;
  font-size: 35px;
  margin-top:30px
}



.for-login{
  display: inline-block;
  margin-top:40px;

}


.contents{
  float:left;
  margin-right:10px
}

.contents p{
  font-size: 22px;
}

.inputarea{
  display:block;
  margin-top:21px;
  padding:4px 20px;
  font-size:18px;
}


.login a{
  color:white;
  font-size:24px;
  margin-top:80px;
  display:inline-block;
  padding:12px 70px;
  background-color:black;
  opacity:0.7;
  border-radius:10px;
  transition:all 0.5s;
}

.login a:hover{
  opacity:1;
}
